{{ define "header" }}
    <header class="sans-serif hero">
        <video autobuffer autoplay muted loop class="w-100 h-inherit" style="object-fit:cover; position: absolute; z-index: -5;">
            {{ with resources.GetMatch "video-cover.vp9.webm" }}
                <source src="{{ .RelPermalink }}" type="video/webm">
            {{ end }}
            {{ with resources.GetMatch "video-cover.x264.mp4" }}
                <source src="{{ .RelPermalink }}" type="video/mp4">
            {{ end }}
        </video>
        <div class="bg-black-30 h-inherit">
            {{ partial "menu.html" (dict "menuID" "main" "page" . "linkAttrs" (dict "class" "f8 fw5 no-underline link white") ) }}
            <div class="tc mt5 ph3">
                <h1 class="f1-l f2-m white mb4 lh-title">Cybersecurity Research</h1>
                <h3 class="f4 fw2 white-90 mb4">(Automotive-)Cybersecurity Research Group at Technische Hochschule Ingolstadt</h3>
            </div>
        </div>
    </header>
{{ end }}

{{ define "main" }}
    {{ with .Content }}
    {{.}}
    {{ end }}
{{ end }}
