{{- $name := .Get "name" -}}
{{- $img := .Get "img" -}}
<article class="flex-auto mi4 w-30-ns w-40-m w-100 br3 pa3 pa4-ns ma1 mv3 ba b--black-10">
  <div class="tc">
    <img src="{{ $img }}" style="object-fit: cover; height: 180px; width: 150px;" class="br-100 w4 dib" title="{{ $name }}">
    <h1 class="f4 mb1">{{ $name }}</h1>
    {{ with .Get "affiliation" }}
      <h2 class="f6 mt0">{{ . }}</h3>
    {{ end }}
    <hr class="mw3 bb bw1 b--black-10">
  </div>
  <p class="lh-copy measure center f6 black-70" style="text-align: center;">
    {{ .Inner }}
  </p>
</article>
